body {
  padding: 5%;
}

.container-flex {
  display: flex;
  margin: 5% 0;
  gap: 1%;
  flex-flow: row wrap;
  align-items: stretch;
  justify-content: center;
}

.container-flex .flex-item {
  border: 1px black solid;
  flex-basis: 25%;
  padding: 1rem;
  margin-bottom: 1%;
}

.item-description ul li {
  margin-right: 5%;
}


/* Table related css rules. Look at the screenshots and try to build the same style. */
.item-tables {
  border: 1px black solid;
}

.item-tables tr th {
  border-bottom: 4px black solid;
}

.item-tables tr td {
  border: 1px blue solid;
}

/* TODO:  Look at the table's cells carefully, especially the spaces around the texts within each cell. Write appropriate rules that provide some spaces around the text of each cell. */
.item-tables p {
  padding: 0 5px;
}